.App{
    width: 601px;
    border: 10px solid grey;
    border-radius: 10px;
}

.photo-id{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 8px solid rgb(145, 173, 96);
    border-radius: 10px;
    position: absolute;
    margin-left: 480px;
    margin-top: 5px;
    box-shadow: 0 0 5px 5px rgba(179, 254, 81, 0.649);
}

.photo-title{
    text-align: center;
    width: 600px;
    height: 80px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding-top: 5px;
}